    body {
    width: 1000px;
    background-color: #327383;
  }
  .main-container {
    width: 800px;
    text-align: center;
  }
  h1 {
   color:white;
   text-align: center;
  }
  .image {
   width: 600px;
   height: 400px;
   padding: 20px;
  }
 .list {
   font-style: normal;
   font-size: 16px;
   line-height: 2.0;
   font-family: "Arial", sans-serif;
   text-align: left;
   color: white;
   padding: 20px;
  }
 footer {
  bottom: 20px;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  color:black;
  opacity: 0.6;
  }
